/* styles.css */

@import url(https://s1.ax1x.com/2023/07/27/pCvVnSS.jpg);

.center-container,
state,
text {
    position: relative;
    z-index: 3;
    white-space: nowrap;
}

.center-container {
    display: flex;
    flex-wrap: wrap;
    /* Add this line to allow flex items to wrap to new lines */
    justify-content: flex-start;
    align-items: flex-end;
    height: 50vh;
    color: rgba(177, 177, 177, 0.879);
    font-size: 3em;
    font-weight: bold;
}

state {
    /* color: darkgrey; */
    font-size: 2.5em;
    font-family: 'Noto Sans SC';
}

text {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Roboto';
}

/* typing */


@keyframes typing {
    from {
        width: 0;
    }
}

.line {
    font: bold 100% JetBrains Mono;
    width: 4ch;
    overflow: hidden;
    /* white-space: nowrap;
    border-right: 2px solid; */
    animation: typing 2s steps(4) infinite;
}

/* 添加页面样式 */
body,
footer {
    margin: 0;
    padding: 0;
    /* background-image: url('../images/background3.jpg'); */
    background-image: url(https://s1.ax1x.com/2023/07/27/pCvVnSS.jpg)!important;
    /* 设置页面背景图片 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* 保持背景图固定 */
    /* font-family: Arial, sans-serif; */
}

/* 创建毛玻璃矩形 */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.516);
    /* 设置半透明背景色 */
    backdrop-filter: blur(15px);
    /* 添加毛玻璃效果，可根据需要调整模糊程度 */
    z-index: -1;
    /* 将伪元素放到页面底部，使其不遮挡页面内容 */
}

footer::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.516);
    /* 设置半透明背景色 */
    backdrop-filter: blur(15px);
    /* 添加毛玻璃效果，可根据需要调整模糊程度 */
    z-index: -1;
    /* 将伪元素放到页面底部，使其不遮挡页面内容 */
}

/* 添加其他页面样式 */
/* 在此处添加其他CSS样式，比如设置内容样式、定位等 */
/* 例如： */
.content {
    position: relative;
    z-index: 1;
    /* 将内容放在伪元素之上 */
    padding: 20px;
    color: #fff;
    text-align: center;
}

.md-typeset h1 {
    position: relative;
    z-index: 4;
    color: rgba(255, 255, 255, 0.932);
    font-weight: 700;
    font-size: 2.618em;
    /* text-shadow: 1px 1px 2px rgb(59, 58, 58); */
    text-decoration: underline #ff630ff0;
}

/* .twemoji{
    position: relative;
    z-index: 3;
    color: #fff;
} */


/* 设置毛玻璃效果的页脚样式 */
.md-footer {
    position: relative;
    /* 设置为相对定位，以允许z-index属性生效 */
    z-index: 1;
    /* 将页脚元素放在毛玻璃效果之上 */
    color: white;
    /* 设置页脚文字颜色为白色 */
    /* padding: 20px; */
    /* text-align: center; */
    /* 添加其他样式，比如背景颜色等 */
}

hr {
    position: relative;
    /* 设置为相对定位，以允许z-index属性生效 */
    z-index: 3;
    /* 将<hr>元素放在毛玻璃效果之上 */
    /* margin: 30px 0; */
    /* 添加适当的间距，使<hr>与其他内容分隔开 */
    /* border: none; */
    /* 移除默认的水平线样式 */
    border-top: 1px solid #fff;
    /* 添加自定义的水平线样式，这里设置为白色 */
    /* width: 90%; */
    
}