body {
    margin: 0;
}
/* styles.css */

/* Add this style to prevent text wrapping */
.center-container, state, text {
    white-space: nowrap;
}


.center-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 60vh;
    color: darkgrey;
    font-size: 3em;
    font-weight: bold;
    font-family: 'Noto Sans SC'
}

state {
    color: darkgrey;
    font-size: 2.618em;
}

text {
    font-size: 1em;
    font-weight: normal;
}