/* 背景图片 */
@import url(https://s1.ax1x.com/2023/07/27/pCvVnSS.jpg);
/* 页面设置 */
body{
    scrollbar-color: dark;
    /* 文字颜色 */
    color: white;
}
/* 导航栏分割线 */
nav.md-footer__inner.md-grid {
    /* 上边框 */
    border-top-style: solid;
    border-top-width: 1.5px;
    border-color: rgba(177, 177, 177, 0.879);
}
/* 填充背景 */
body,footer{
    margin: 0;
    padding: 0;
    background-image: url(https://s1.ax1x.com/2023/07/27/pCvVnSS.jpg)!important;
    /* 图片固定填充整个页面 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* 创建毛玻璃 */
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 模糊效果 */
    background: rgba(0, 0, 0, 0.516);
    backdrop-filter: blur(15px);
    /* z轴相对位置 */
    z-index: -10;
}
/* 页脚毛玻璃 */
footer::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* 模糊效果 */
    background: rgba(0, 0, 0, 0.516);
    backdrop-filter: blur(15px);
    /* z轴相对位置 */
    z-index: -1;
}
/* 页脚跳转文字 */
.md-footer{
    /* z轴相对位置 */
    position: relative;
    z-index: 0;
    /* 文字颜色 */
    color: white;
}
/* 页面内容 */
.md-main__inner.md-grid {
    /* z轴相对位置 */
    position: relative;
    z-index: 2;
}
/* 目录顶部 */
.md-nav--lifted>.md-nav__list>.md-nav__item--active>.md-nav__link {
    background: #11181f;
    box-shadow: 0 0 1rem 0.8rem #11181f;
    font-weight: 700;
    margin-top: 5%;
    padding-top: 5%;
    /* padding: 0 .6rem; */
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 150%;
    text-decoration: underline #ff630ff0;
}
.md-nav--secondary .md-nav__title {
    background: #11181f;
    box-shadow: 0 0 1rem 0.8rem #11181f;
    font-weight: 700;
    margin-top: 5%;
    padding-top: 5%;
    margin-bottom: 8%;
    /* padding: 0 .6rem; */
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: 150%;
    text-decoration: underline #ff630ff0;
    color: white;
}
/* 圆角矩形背景 */
.md-sidebar__scrollwrap {
    scrollbar-gutter: auto;
    border-radius: 10px;
    background: #3f4b5c40;
    border: solid #323542a3;
}
/* 正文圆角边框 */
.md-content {
    flex-grow: 1;
    min-width: 0;
    scrollbar-gutter: auto;
    border-radius: 10px;
    /* background: #11235629;
    border: solid #1b244abf; */
    /* margin-top: 2%;
    margin-bottom: 2%; */
    /* box-shadow: 0 0 7rem 1rem #00000070; */
}
/* H1标题样式 */
/* .md-typeset h1 {
    color: rgba(255, 255, 255, 0.932);
    font-weight: 700;
    font-size: 2.618em;
    text-decoration: underline #ff630ff0;
} */