
.center-container,
state,
text {
    position: relative;
    z-index: 3;
    white-space: nowrap;
}

/* body {
    overflow-x: hidden;
} */

.center-container {
    display: flex;
    flex-wrap: wrap;
    /* Add this line to allow flex items to wrap to new lines */
    justify-content: flex-start;
    align-items: flex-end;
    height: 50vh;
    color: rgba(177, 177, 177, 0.879);
    font-size: 3em;
    font-weight: bold;
}

state {
    /* color: darkgrey; */
    font-size: 2.5em;
    font-family: 'Noto Sans SC';
}

text {
    font-size: 1.5em;
    font-weight: normal;
    font-family: 'Roboto';
}

/* typing */


@keyframes typing {
    from {
        width: 0;
    }
}

.line {
    font: bold 100% JetBrains Mono;
    width: 4ch;
    overflow: hidden;
    /* white-space: nowrap;
    border-right: 2px solid; */
    animation: typing 2s steps(4) infinite;
}

/* 添加页面样式 */
body,
footer {
    margin: 0;
    padding: 0;
    /* background-image: url('../images/background3.jpg'); */
    /* background-image: url(https://s1.ax1x.com/2023/07/27/pCvVnSS.jpg)!important; */
    /* 设置页面背景图片 */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* 保持背景图固定 */
    /* font-family: Arial, sans-serif; */
}

/* 创建毛玻璃矩形 */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.877);
    /* 设置半透明背景色 */
    backdrop-filter: blur(2px);
    /* 添加毛玻璃效果，可根据需要调整模糊程度 */
    z-index: -2;
    /* 将伪元素放到页面底部，使其不遮挡页面内容 */
}


/* .md-typeset h2, .md-typeset h3, .md-typeset h4 ,.md-typeset code{
    position: relative;
    z-index: -3;
    padding: 20px;
} */
.md-content .md-typeset {
    position: relative;
    z-index: -3;
    padding: 20px;
}