/* Assuming this style tag is placed in the head section of your HTML or in an external CSS file */

/* Reset default margin and padding to avoid inconsistencies across browsers */
body,
html {
    min-height: 100vh; 
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Style for the container that will center its content */
.center-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* Change back to 'flex-start' */
    align-items: flex-start;
    /* Change back to 'flex-start' */
    height: 100%;
    color: #ff6a1a;
    font-weight: bold;
    position: relative;
    margin-top: 45vh;
    /* Adjust the top margin as per your preference */
    /* margin-bottom: 0px; */
    /* Adjust the bottom margin as per your preference */
}

/* Style for the note text */
.note-text {
    font-size: clamp(3em, 7vw, 10em);
    font-weight: extra-bold;
    font-family: 'apple-system', 'Noto Sans SC', 'Arial', 'sans-serif';
    margin-left: 0;
    /* Add this line */
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0px;
    /* Add some space from the left and bottom edges */
}

/* Additional style to hide the H1 element */
.md-content h1 {
    font-size: 0;
}